* {
    margin: 0 auto;
    padding: 0;
}

html, body {
  height: 100%;
}

div#container {
  width: 100%;
  height: 100%;
  background-image: url("../assets/trang2-01.jpg");
  background-size: cover;
}

#img_1 {
  position: relative;
  width: 1280px;
  height: auto;
}

#img_2 {
  position: relative;
}

#img_2 img {
  position: absolute;
  top: -635px;
  right: 335px;
}

nav p {
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  color: #FFFFFF;
  position: relative;
  margin-top: -200px;
  left: 435px;
}

.wrapper {
  position: absolute;
  max-width: 300px;
  top: 252px;
  left: 585px;
  text-align: center;
}

.wrapper img {
  width: 100%;
  height: 100%;
}

.wrapper .image2 {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.wrapper .text {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

.hero-image {
  display: inline;
  margin: auto;
  height: 100%;
  width: 100%;
}