* {
    margin: 0 auto;
    padding: 0;
  }

  div#container {
    width: 1280px;
    height: auto;
  }

  #img_1 {
    width: 1280px;
    height: auto;
  }

  nav div p {
    position: relative;
    float: left;
    margin-top: -560px;
    left: 470px;
    width: 350px;
    height: 500px;
    font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: black;
  }