* {
    margin: 0 auto;
    padding: 0;
  }

  div#container {
    width: 1280px;
    height: auto;
  }

  #img_1 {
    width: 1280px;
    height: auto;
  }

  #img_2 {
    position: absolute;
    top: 330px;
    right: 560px;
  }

  #img_2 img:hover {
    opacity: 0.5;
  }

  nav p {
    position: relative;
    float: left;
    margin-top: -750px;
    left: 670px;
  }

  #cchrr {
    margin-left: 300px;
  }

  nav li {
    margin: -100px 100px 10px 30px;
    float: left;
  }

  nav p a {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }

  nav p a:hover {
    color: #323131;
  }